<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/about.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/photos/logo-mes.png"/>
    
</head>
<body>

    <%- include('header') -%>

    <div class="about">
        <div class="home-column">
            <h5 id="color" class="lang lang-en">Our Story</h5>
            <h5 id="color" class="lang lang-al">
                Historia Jonë</h5>
            <img src="/photos/separator 1.png" width="90"/>
            <h1 class="lang lang-en">About Us</h1>
            <h1 class="lang lang-al">Rreth Nesh</h1>
        </div>
    </div>


     <!--About-->
     <div class="container-fluid" id="about" style="background-color: #130A00;">

        <div class="row">
            <div class="col text-center align-items-center justify-content-center d-flex flex-column">
                <h4 id="color" class="pb-2 lang lang-en">Who We Are</h4>
                <h4 id="color" class="pb-2 lang lang-al">Kush Jemi Ne</h4>
                <img src="/photos/separator 1.png" width="90" class="pb-2"/>
                <p class="text-light text-center pb-2 lang lang-en"  id="ab">Bar Restaurant "ABC Mësonjëtorja 1887" is a historic venue specialized in serving traditional artisanal food and drinks, and providing entertainment for couples in the city of Korçë.</p>
                <p class="text-light text-center pb-2 lang lang-al" id="ab">Restorant Bar "ABC Mësonjëtorja 1887" është një lokal historik i specializuar në shërbyer ushqim dhe pije tradicionale artizanale, si dhe ofrimin e argëtimit për çiftet në qytetin e Korçës.</p>
            </div>
        </div>

        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-12 col-md-10 col-lg-4 justify-content-center">
                <h4 id="color" class="pb-2 lang lang-en">About Us</h4>
                <h4 id="color" class="pb-2 lang lang-al">Rreth Nesh</h4>
                <img src="/photos/separator 1.png" width="90" class="pb-2"/>
                <p class="text-light pb-2 lang lang-en" id="ab">Our mission is to bring joy and smiles into the lives of our customers by providing a delightful culinary experience, serving them with quality in a traditional historic setting. We offer typical Korçë family dishes, accompanied by the serenading melodies, as well as being a great dining option for the citizens of Korçë who are part of the private and public administration. Our vision is to become a point of reference for the city of Korçë, making the name Mësonjëtorja and its values known throughout Albania.</p>
                <p class="text-light pb-2 lang lang-al" id="ab">
                    Misioni ynë është të sjellim gëzim dhe buzëqeshje në jetën e klientëve tanë duke ofruar një përvojë kulinarisht të këndshme, duke i shërbyer me cilësi në një ambient tradicional historik. Ne ofrojmë pjata tipike të familjes Korçare, shoqëruar nga melodia e serenatave, si dhe jemi një opsion i shkëlqyer për darkim për qytetarët e Korçës, të cilët janë pjesë e administratës private dhe publike. Vizioni ynë është të bëhemi një pikë referimi për qytetin e Korçës, duke bërë emrin Mësonjëtorja dhe vlerat e saj të njohura në të gjithë Shqipërinë.</p>
                <p id="color">ANDREW JOE - FOUNDER</p>
            </div>
            <div class="col-12 col-md-10 col-lg-4">
                <img src="/photos/team.JPG" class="img-fluid" id="top"/>
            </div>
        </div>

        <div class="row  justify-content-center align-items-center  mt-5" >
            <div class="col-12 col-md-10 col-lg-4">
                <img src="/photos/mesonj.JPG" class="img-fluid" id="top"/>
            </div>

            <div class="col-12 col-md-10 col-lg-4 justify-content-center " id="rightt">
                <h4 id="color" class="pb-2 lang lang-en text-light">35 year of experience</h4>
                <h4 id="color" class="pb-2 lang lang-al text-light">35 vjet përvojë</h4>
                <img src="/photos/separator 1.png" width="90" class="pb-2"/>
                <h2 class="text-light">Award Winning Chef</h2>
                <p class="text-light pb-2 lang lang-en" >Experience the charm of "ABC Mësonjëtorja 1887," a historic bar-restaurant in Korçë. Our menu is inspired by traditional family recipes, offering a true taste of Korçë's culinary heritage. With four unique spaces, including the cozy "Taverna," the intimate "Patriots' Room," and the charming "ABC" hall, we provide a variety of dining options. We prioritize customer care, cleanliness, and exceptional service while maintaining affordable prices. Join us and indulge in a memorable dining experience that celebrates the essence of Korçë's history and culture.</p>

                <p class="text-light pb-2 lang lang-al" id="ab">
                    Shijoni magjinë e "ABC Mësonjëtorja 1887," një bar-restorant historik në Korçë. Menuja jonë është frymëzuar nga recetat tradicionale familjare, duke ofruar një shije të vërtetë të trashëgimisë kulinarie të Korçës. Me katër ambiente unike, duke përfshirë "Tavernën" e ngrohtë, "Dhomën e Patriotëve" intime dhe sallën e mrekullueshme "ABC", ne ofrojmë një shumëllojshmëri mundësish për të ngrënë. Ne i japim prioritet kujdesit ndaj klientit, pastrimit dhe shërbimit jashtëzakonisht të mirë, duke mbajtur çmimet të arsyeshme. Na bashkohuni dhe shijoni një përvojë të paharrueshme të ngrënies që feston thelbin e historisë dhe kulturës së Korçës.</p>
                
            </div>
        </div>

        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-12 col-md-10 col-lg-4 d-flex flex-column align-items-start justify-content-start">
                <h4 id="color" class="pb-2 lang lang-en">Delightful Experience</h4>
                <h4 id="color" class="pb-2 lang lang-al">Përvojë E Këndshme</h4>
                <img src="/photos/separator 1.png" width="90" class="pb-2"/>
                <h2 class="text-light lang lang-en">Our Veranda,Our Traditional Menu</h2>
                <h2 class="text-light lang lang-al">
                    Veranda Jonë, Menuja Jonë Tradicionale</h2>
                <p class="text-light lang lang-en" class="pb-2" id="ab">
                    Our veranda offers a picturesque view of Korçë's landmarks. With a capacity for 35 guests, it provides a tranquil and green setting. Our menu is inspired by traditional Korçë recipes, featuring grilled dishes, daily soups, salads, appetizers, special plates, homemade desserts, and artisanal products. We cater to vegetarians, vegans, and gluten-free diets. Our focus is on customer care, cleanliness, quality service, entertainment, and affordable prices, encapsulated in our motto: "Eat, Drink, and Sing."</p>
                    <p class="text-light lang lang-al" class="pb-2" id="ab">
                       
Veranda jonë ofron një pamje pitoreke të vendeve të njohura të Korçës. Me kapacitet për 35 mysafirë, ajo ofron një ambient të qetë dhe të gjelbëruar. Menuja jonë është frymëzuar nga recetat tradicionale të Korçës dhe përfshin pjata të pjekura në gështenjë, supa ditore, sallata, paraqitje të ndryshme, pjata të veçanta, ëmbëlsira shtëpiake dhe produkte artizanale. Ne kujdesemi për vegjetarianët, veganët dhe dietat pa gluten. Fokusi ynë është në kujdesin ndaj klientëve, pastrimin, shërbimin cilësor, argëtimin dhe çmimet të arsyeshme, të përfaqësuara në motto-n tonë: "Ha, Pi, dhe Këndo."</p>
                <a href="contact" class="btn btn-primary lang lang-en" id="btn1">Contact Us</a>
                <a href="contact" class=" lang lang-al" id="btn11">Na Kontaktoni</a>
            </div>
            <div class="col-12 col-md-10 col-lg-4">
                <img src="/photos/event.JPG" class="img-fluid" id="top"/>
            </div>
        </div>


    </div>

    <!--About-services-->
    <div class="container-fluid" style="background: rgba(19, 10, 0, 0.95);;">
        
        <div class="row pt-5">
            <div class="col text-center align-items-center justify-content-center d-flex flex-column">
                <h4 id="color" class="pb-2 lang lang-en">Our Services</h4>
                <h4 id="color" class="pb-2 lang lang-al">Sherbimet tone</h4>
                <img src="/photos/separator 1.png" width="90" class="pb-2"/>
                <h2 class="text-light lang lang-en">Exquisite Restaurant in City</h2>
                <h2 class="text-light lang lang-al">Restorant I Shkëlqyer Në Qytet</h2>
            </div>
        </div>

        <div class="row justify-content-center mt-5">

            <div class="col-12 col-md-10 col-lg-4">

                <div class="about-service pb-4">
                    <div class="about-box">
                        <img src="/photos/4 Different Environments (2).png"/>
                    </div>

                    <div class="about-box-title">
                        <h3 class="text-light lang lang-en">
                            4 Different Environments</h3>
                            <h3 class="text-light lang lang-al">
                                
4 Ambiente Të Ndryshme</h3>
                        <p class="text-light lang lang-en">4 Environments: Cozy basement. Intimate room. Charming hall. Relaxing veranda.
                        </p>
                        <p class="text-light lang lang-al">4 Ambiente: Bodrum i ngrohtë. Dhomë intime. Sallë e mrekullueshme. Verandë relaksuese.
                        </p>
                    </div>
                </div>

                <div class="about-service">
                    <div class="about-box">
                        <img src="/photos/photo museum.png"/>
                    </div>

                    <div class="about-box-title">
                        <h3 class="text-light lang lang-en">Photo Museum</h3>
                        <h3 class="text-light lang lang-al">Muzeu I Fotografisë</h3>
                        <p class="text-light lang lang-en">Explore the captivating world of photography at our Photo Museum. Discover iconic images and contemporary works.
                        </p>
                        <p class="text-light lang lang-al">
                            Zbuloni botën e mahnitshme të fotografisë në Muzeun tonë të Fotografisë. Zbuloni imazhe ikonike dhe vepra bashkëkohore.
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-10 col-lg-3"id="about-boxx" >
                <img src="/photos/service-image 1.png" class="img-fluid"/>
            </div>

            <div class="col-12 col-md-10 col-lg-4" id="about-services-right">
                <div class="about-service pb-4">
                    <div class="about-box-title">
                        <h3 class="text-light lang lang-en">Attractive Prices</h3>
                        <h3 class="text-light lang lang-al">
                            Çmime Tërheqëse</h3>
                        <p class="text-light lang lang-en">Discover our enticing menu at attractive prices, where you can indulge in delicious dishes without breaking the bank.
                        </p>
                        <p class="text-light lang lang-al">Zbuloni menunë tonë të mahnitshme me çmime tërheqëse, ku mund të shijoni pjata të shijshme pa i goditur thesin e parave.
                        </p>
                    </div>

                    <div class="about-box">
                        <img src="/photos/Attractive Prices (2).png"/>
                    </div>
                </div>

                <div class="about-service">
            
                    <div class="about-box-title">
                        <h3 class="text-light lang lang-en">No Other Restaurants Nearby</h3>
                        <h3 class="text-light lang lang-al">
                            Asnje Restorant Tjeter Prane</h3>
                        <p class="text-light lang lang-en">
                            No other restaurants nearby. Experience exclusive dining at its finest with us, where you can enjoy a unique culinary journey unmatched in the vicinity.
                        </p>
                         <p class="text-light lang lang-al">
                            Asnjë restorant tjetër në afërsi. Përjetoni ngrënien ekskluzive në shkëlqimin e saj më të lartë me ne, ku mund të shijoni një udhëtim kulinar unik, i pa krahasuar në afërsi.
                        </p>
                    </div>

                    <div class="about-box">
                        <img src="/photos/No Other Restaurants Nearby (2).png"/>
                    </div>

                </div>

            </div>

        </div>
            
    </div>

    

    <!--Strength-->
    <div class="container-fluid pb-5" style="
    background: rgba(19, 10, 0, 0.95);">
        
        <div class="row pt-5">
            <div class="col text-center align-items-center justify-content-center d-flex flex-column">
                <h4 id="color" class="pb-2 lang lang-en">Why Choose Us</h4>
                <h4 id="color" class="pb-2 lang lang-al">Pse Duhet Te Na Zgjidhni Ne</h4>
                <img src="/photos/separator 1.png" width="90" class="pb-2"/>
                <h2 class="text-light lang lang-en" >Our Strength</h2>
                <h2 class="text-light lang lang-al">Pikat Tona Te Forta</h2>
            </div>
        </div>

        <div class="row pt-4">
            
            <div class="strength">

                <div class="strength1">
                    <div class="str-col">
                        <img src="/photos/live music.png" width="70"/>
                        <h4 class="text-light lang lang-en">Live Music Every Weekend</h4>
                        <h4 class="text-light lang lang-al">Muzikë Live Cdo Fundjavë</h4>
                    </div>
                </div>

                <div class="strength2">
                    <div class="str-col">
                        <img src="/photos/city center.png" width="70"/>
                        <h4 class="text-light lang lang-en">City Center</h4>
                        <h4 class="text-light lang lang-al">Ne Qender Te Qytetit</h4>
                    </div>
                </div>

                
                <div class="strength3">
                    <div class="str-col">
                        <img src="/photos/atmenu.png" width="70"/>
                        <h4 class="text-light lang lang-en"> Attractive Menu For Tourists</h4>
                        <h4 class="text-light lang lang-al"> Menu Atraktive Per Turistet</h4>
                    </div>
                </div>
               
                
                <div class="strength4">
                    <div class="str-col">
                        <img src="/photos/raki.png" width="70"/>
                        <h4 class="text-light lang lang-en">Ripe And Other Traditional Brandies</h4>
                         <h4 class="text-light lang lang-al">Rakia dhe Vera Pije Tradicionale</h4>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <a href="https:/wa.me/0683837127"  target="_blank" class="whatsapp_float"><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>

    <i class="fa-brands fa-whatsapp"></i>

    <!--Footer-->
    <%- include('footer') -%>

    
</body>
</html>