<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/about.css"/>
    <link rel="stylesheet" href="/css/gallery.css"/>
  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/photos/logo-mes.png"/>

</head>
<body>

    <%- include('header') -%>
    <div class="about">
        <div class="home-column">
            <h5 id="color" class="lang lang-en">Our Photo Gallery</h5>
            <h5 id="color" class="lang lang-al">Galeria Jonë E Fotove</h5>
            <img src="/photos/separator 1.png" width="90"/>
            <h1 class="lang lang-en">Gallery</h1>
              <h1 class="lang lang-al">Galeria</h1>
        </div>
    </div>

    <!--Menu2-->
    <div class="container-fluid" style="background-color: #130A00;">
        <div class="row pt-5 ">
            <div class="col text-center align-items-center justify-content-center d-flex flex-column">
                <h4 id="color" class="pb-2 lang lang-en">Looks Our Photo Gallery</h4>
                <h4 id="color" class="pb-2 lang lang-al">Shikoni Galerinë Tonë Të Fotove</h4>
                <img src="/photos/separator 1.png" width="90" class="pb-2"/>
            </div>
        </div>


        <div class="row justify-content-center pb-5 ">

            

                <div class="tab-pane fade show active" id="m1" role="tabpanel" aria-labelledby="home-tab">

                    <div class="demo-menu1 pt-5">

                        <img src="/photos/g111.png"/>
                        <img src="/photos/g222.png"/>
                        <img src="/photos/g333.png"/>
                        <img src="/photos/g444.png"/>
                        <img src="/photos/g555.png"/>
                        <img src="/photos/g6.png"/>
                        <img src="/photos/g7.png"/>
                        <img src="/photos/g10.png"/>
                        <img src="/photos/g11.png"/>
                        <img src="/photos/g12.png"/>
                        <img src="/photos/g13.png"/>
                        <img src="/photos/g14.png"/>
                        <img src="/photos/g15.png"/>
                        <img src="/photos/g16.png"/>
                        <img src="/photos/g17.png"/>
                        <img src="/photos/g18.png"/>
                        <img src="/photos/g19.png"/>
                        <img src="/photos/g20.png"/>
                        <img src="/photos/g21.png"/>
                        <img src="/photos/g22.png"/>
                        <img src="/photos/g23.png"/>
                        <img src="/photos/g24.png"/>
                        <img src="/photos/g25.png"/>
                        <img src="/photos/g26.png"/>
                    </div>

                </div>

                
              </div>


        </div>

    </div>


    <!--Gallery-mini-->
    <div class="gallery-mini">

        <div class="gallery1">
            <p id="color" class="lang lang-en text-uppercase">NEED A TABLE ON COFFEE HOUSE</p>
              <p id="color" class="lang lang-al">DESHIROJ NJE TAVOLINE NE ShTEPINE E KAFESE</p>
            <h1 class="text-light font-weight-bold lang lang-en">Booking Table For You & Family Members</h1>
            <h1 class="text-light font-weight-bold lang lang-al">Rezervoni një tavolinë për ju dhe anëtarët e familjes tuaj</h1>
        </div>

        <div class="gallery2">
           <a href="contact"> <button class="btn  text-dark lang lang-en">Contact Us</button> </a>
           <a href="contact"> <button class=" text-dark lang lang-al text-decoration-none" id="b">Na Kontaktoni</button> </a>
        </div>

    </div>


    <div class="container-fluid pt-4 pb-4" style="background-color: #130A00;">

        <div class="row justify-content-center pt-4 pb-4" id="gall1">

            <div class="col-12 col-md-10 col-lg-2 d-flex justify-content-center" >
                <img src="/photos/g1.png" id="gall1"/>
            </div>

            <div class="col-12 col-md-10 col-lg-2 d-flex justify-content-center">
                <img src="/photos/g2.png"  id="gall1" />
            </div>

            <div class="col-12 col-md-10 col-lg-2 d-flex justify-content-center">
                <img src="/photos/g3.png"  id="gall1" />
            </div>

            <div class="col-12 col-md-10 col-lg-2 d-flex justify-content-center">
                <img src="/photos/g4.png"  id="gall1" />
            </div>

            <div class="col-12 col-md-10 col-lg-2 d-flex justify-content-center">
                <img src="/photos/g5 (2).png"  id="gall1" />
            </div>

        </div>
    </div>

    
     <!--Video-product-->
    
     <video controls autoplay>
        <source src="/photos/video1.MOV" type="video/mp4">
        <source src="/photos/video1.MOV" type="video/ogg">
    </video>

    <a href="https:/wa.me/0683837127"  target="_blank" class="whatsapp_float"><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>

    <i class="fa-brands fa-whatsapp"></i>

    <!--Footer-->
    <%- include('footer') -%>
    
    


    <script src="/js/splide.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    


</body>
</html>