<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <!--Header-phone-->
    <div class="header-phone1" id="open1">

       <div class="header-phone11">

        <div class="close">
            <img src="/photos/closee.png" width="30" id="close1"/>
        </div>

        <div class="menu-phone">
            <ul>

                <li><a href="/" class="lang lang-en">Home</a></li>
                <li><a href="/" class="lang lang-al">Shtepia</a></li>
                <div class="line1"></div>

                <li><a href="about" class="lang lang-en">About Us</a></li>
                <li><a href="about" class="lang lang-al">Rreth Nesh</a></li>
                <div class="line1"></div>

                <li><a href="menu">Menu</a></li>
                <div class="line1"></div>

                <li><a href="gallery" class="lang lang-en">Gallery</a></li>
                <li><a href="gallery" class="lang lang-al">Galeri</a></li>
                <div class="line1"></div>

                <li><a href="contact" class="lang lang-en">Contact Us</a></li>
                <li><a href="contact" class="lang lang-al">Na Kontaktoni</a></li>
                <div class="line1"></div>

            </ul>
        </div>

        <div class="location-phone">

            <div class="mini-header11">
                <div class="location11">
                    <a href="https://goo.gl/maps/m2VMLnXVwcKxky8g7">  <img src="/photos/Mask group.png" width="18"/>
                    Bulevardi Shen Gjergji </a>
                </div>
                <div class="location11">
                    <a href="">   <img src="/photos/Mask group (1).png" width="18"/>
                    Daily:8:00 am to 11:00 pm </a>
                </div>
            </div>
            
            <div class="mini-header11">
                <div class="location11">
                  <a href="https://wa.me/0692342333 ">  <img src="/photos/Mask group (2).png" width="18"/>
                    0692342333 </a>
                </div>
                <div class="location11">
                    <a href="mailto: restorantmesonjetorja.com">  <img src="/photos/Mask group (3).png" width="18"/>
                    restorantmesonjetore@gmail.com </a>
                </div>
            </div>
            

        </div>
        
       </div>

    </div>

    <!--Header-all-->
    <div class="header-all" id="static">

        <!--Header-location-->

    <div class="header pt-2" >

        <div class="mini-header">
            <div class="location">
                <a href="https://goo.gl/maps/m2VMLnXVwcKxky8g7">  <img src="/photos/Mask group.png" width="18"/>
                Bulevardi Shen Gjergji </a>
            </div>
            <div class="location">
                <a href="">   <img src="/photos/Mask group (1).png" width="18"/>
                Daily:8:00 am to 11:00 pm </a>
            </div>
        </div>
        
        <div class="mini-header" id="mini1">
            <div class="location">
              <a href="https://wa.me/0692342333">  <img src="/photos/Mask group (2).png" width="18"/>
                0692342333 </a>
            </div>
            <div class="location">
                <a href="mailto: restorantmesonjetorja.com">  <img src="/photos/Mask group (3).png" width="18"/>
                restorantmesonjetore@gmail.com </a>
            </div>
        </div>
        
    </div>

    <!--Header-line-->
    <div class="header-line"></div>

    <!--Header-menu-->

    <div class="header-menu">
        <div class="header-logo">
            <h3><a href="/">Restorant Mesonjetorja</a></h3>
          
        </div>

        <div class="menu-menu">
            <ul>
                <li><a href="/" class="lang lang-en">Home</a></li>
                <li><a href="/" class="lang lang-al">Shtepia</a></li>
                <li><a href="about" class="lang lang-en">About Us</a></li>
                <li><a href="about" class="lang lang-al">Rreth Nesh</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="gallery" class="lang lang-en">Gallery</a></li>
                <li><a href="gallery" class="lang lang-al">Galeria</a></li>
                <li><a href="contact" class="lang lang-en">Contact Us</a></li>
                <li><a href="contact" class="lang lang-al">Na Kontaktoni</a></li>
            </ul>
        </div>

        <div class="header-socialmedia">
            <a href=""><img src="/photos/fb.png" width="19"/></a>
            <a href=""><img src="/photos/ig.png" width="19"/></a>
        </div>

    </div>


    <!--Header-phone-->

    <div class="header-phone" id="close">
        <div class="header-logo">
            <img src="/photos/logo-mes.png" width="45"/>
        </div>

        <div class="menu-fa" id="open">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>

        <div class="header-socialmedia">
            <a href=""><img src="/photos/fb.png" width="19"/></a>
            <a href=""><img src="/photos/ig.png" width="19"/></a>
        </div>

    </div>

    </div>


   

    <script>
        
        var phone=document.querySelector('#close');
        var close1=document.querySelector('#close1');
        var open=document.querySelector('#open');
        var open1=document.querySelector('#open1');

        open.addEventListener('click',function(){
            phone.style.display='none';
            open1.style.display="block";
        })

        close1.addEventListener('click',function(){
            phone.style.display='block';
            phone.style.display='flex';
            open1.style.display="none";
        })

        var static=document.querySelector('#static');
        window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                static.style.backgroundColor = "#0F0800";
            } else {
                static.style.backgroundColor = "transparent";
            }
}
    </script>


    
</body>
</html>