<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main-menu.css"/>
</head>
<body>

    


     <!--Menu2-->
     <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" style="background-color: #130A00;">
        <li class="nav-item ">
          <a class="nav-link active bg-transparent text-light" id="home-tab" data-toggle="tab" href="#breakfast" role="tab" aria-controls="home" aria-selected="true">Breakfast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-transparent text-light" id="profile-tab" data-toggle="tab" href="#lunch-dinner" role="tab" aria-controls="profile" aria-selected="false">Lunch & Dinner </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-transparent text-light" id="contact-tab" data-toggle="tab" href="#drinks" role="tab" aria-controls="contact" aria-selected="false">Drinks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-transparent text-light" id="contact-tab" data-toggle="tab" href="#wine" role="tab" aria-controls="contact" aria-selected="false">Wine</a>
          </li>
      </ul>


      <div class="tab-content " id="myTabContent" style="background-color: #130A00;">
        <div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="home-tab">

            <div class="main-menu2">

                <div class="main-menu22">
                    <img src=""/>
                    <h3 class="lang lang-en">Toast</h3>
                    <h3 class="lang lang-al">Tost</h3>
                    <p class="lang lang-en">Bread, mayonnaise, prosciutto, guda chees</p>
                    <p class="lang lang-al">Bukë, majonezë, proshutë, djathë guda</p>
                    <h4 class="lang lang-en">100 Lek</h4>
                    <h4 class="lang lang-al">100 Lek</h4>
                </div>

                <div class="main-menu22">
                    <img src=""/>
                    <h3 class="lang lang-en">Special Toast </h3>
                    <h3 class="lang lang-al">Tost Special </h3>
                    <p class="lang lang-en">Kaçkavall cheese, bread, mayonnaise, prosciutto</p>
                    <p class="lang lang-al">Djathë kaçkavall, bukë, majonezë, proshutë</p>
                    <h4 class="lang lang-en"> 150 Lek</h4>
                    <h4 class="lang lang-al"> 150 Lek</h4>
                </div>

                <div class="main-menu22">
                    <img src=""/>
                    <h3 class="lang lang-en">Brioche</h3>
                    <h3 class="lang lang-al">Briosh </h3>
                    <p></p>
                    <h4 class="lang lang-en">100 Lek</h4>
                    <h4 class="lang lang-al">100 Lek</h4>
                </div>

                <div class="main-menu22">
                    <img src=""/>
                    <h3 class="lang lang-en">Homemade</h3>
                    <h3 class="lang lang-al">Petulla Me Mjaltë</h3>
                    <p class="lang lang-en">Donuts with honey, jam, cheese</p>
                    <p class="lang lang-al">Reçel, djathe</p>
                    <h4 class="lang lang-en">250 Lek </h4>
                    <h4 class="lang lang-al">250 Lek </h4>
                </div>

                <div class="main-menu22 ">
                    <img src=""/>
                    <h3 class="lang lang-en">Omelet </h3>
                    <h3 class="lang lang-al">Omletë </h3>
                    <p class="lang lang-en">Eggs, served with cucumbers, tomatoes and chees</p>
                    <p class="lang lang-al">Vezë, djathë, kastravec, domate</p>
                    <h4 class="lang lang-en">200 Lek</h4>
                    <h4 class="lang lang-al">200 Lek</h4>
                </div>

                <div class="main-menu22 ">
                    <img src=""/>
                    <h3 class="lang lang-en">Special Omele</h3>
                    <h3 class="lang lang-al">Omletë speciale</h3>
                    <p class="lang lang-en">Eggs, spinach, onions, zucchini, peppers, cheese, prosciutto served with cucumbers and tomatoes</p>
                    <p class="lang lang-al">Vezë, spinaq, qepë, kungulleshka, speca, djathë, proshutë, kastravec, domate</p>
                    <h4 class="lang lang-en">300 Lek</h4>
                    <h4 class="lang lang-al">300 Lek</h4>
                </div>

                <div class="main-menu22 ">
                    <img src=""/>
                    <h3 class="lang lang-en">Glass Of Milk</h3>
                    <h3 class="lang lang-al">Qumësht </h3>
                    <p></p>
                    <h4 class="lang lang-en">100 Lek</h4>
                    <h4 class="lang lang-al">100 Lek</h4>
                </div>

                <div class="main-menu22 ">
                    <img src=""/>
                    <h3 class="lang lang-en">Club Sandwich</h3>
                    <h3 class="lang lang-al">Club Sandwich</h3>
                    <p class="lang lang-en">Mayonnaise, prosciutto, guda cheese, lettuce, tomatoes, served with our homemade French fries</p>
                    <p class="lang lang-al">Majonezë, proshutë, djathë guda, domate, marule, patate të skuqura</p>
                    <h4 class="lang lang-en">300 Lek</h4>
                    <h4 class="lang lang-al">300 Lek</h4>
                </div>

            </div>

        </div>




        <div class="tab-pane fade" id="lunch-dinner" role="tabpanel" aria-labelledby="profile-tab">

            <nav>
                <div class="nav nav-tabs justify-content-center pt-3 border-none" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active bg-transparent text-light" id="nav-home-tab" data-toggle="tab" href="#soup2" role="tab" aria-controls="nav-home" aria-selected="true">Sopu</a>
                  <a class="nav-item nav-link  bg-transparent text-light" id="nav-profile-tab" data-toggle="tab" href="#salad2" role="tab" aria-controls="nav-profile" aria-selected="false">Salad</a>
                  <a class="nav-item nav-link bg-transparent text-light" id="nav-contact-tab" data-toggle="tab" href="#appetizer2" role="tab" aria-controls="nav-contact" aria-selected="false">Appetizer</a>
                  <a class="nav-item nav-link bg-transparent text-light" id="nav-contact-tab" data-toggle="tab" href="#meat2" role="tab" aria-controls="nav-contact" aria-selected="false">Meat & Specials</a>
                  <a class="nav-item nav-link bg-transparent text-light" id="nav-contact-tab" data-toggle="tab" href="#afterbread2" role="tab" aria-controls="nav-contact" aria-selected="false">After Bread</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">


                <div class="tab-pane fade show active" id="soup2" role="tabpanel" aria-labelledby="nav-home-tab">
                    
                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Vegetable Soup</h3>
                            <h3  class="lang lang-al">Supë Zarzavate</h3>
                            <p  class="lang lang-en">Seasonal vegetables</p>
                            <p  class="lang lang-al">Perime të stinës</p>
                            <h4  class="lang lang-en"> 200 Lek</h4>
                            <h4  class="lang lang-al"> 200 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3  class="lang lang-en">Chicken Soup</h3>
                            <h3  class="lang lang-al">Supë Pule</h3>
                            <p  class="lang lang-en">Chicken, seasonal vegetables</p>
                            <p  class="lang lang-al">Pulë, perime të stinës</p>
                            <h4  class="lang lang-en">250 Lek</h4>
                            <h4  class="lang lang-al">250 Lek</h4>
                        </div>

                    </div>

                </div>


                <div class="tab-pane fade" id="salad2" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Village Salad </h3>
                            <h3 class="lang lang-al">Sallatë Fshati </h3>
                            <p class="lang lang-en">Tomatoes, cucumbers, peppers, onion, olives, cheese</p>
                            <p class="lang lang-al">Domate, kastravec, speca, qepë, ullinj, djathë</p>
                            <h4 class="lang lang-en">300 Lek</h4>
                            <h4 class="lang lang-al">300 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Spinach Salad</h3>
                            <h3 class="lang lang-al">Sallatë Spinaqi</h3>
                            <p class="lang lang-en">Spinach, tomatoes, cheese</p>
                            <p class="lang lang-al">Spinaq, djathë, domate</p>
                            <h4 class="lang lang-en"> 300 Lek</h4>
                            <h4 class="lang lang-al"> 300 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Green Salad</h3>
                            <h3 class="lang lang-al">Sallatë Jeshile</h3>
                            <p class="lang lang-en">Lettuce, cucumbers, onion, olives</p>
                            <p class="lang lang-al">Marule, kastravec, qepë, ullinj</p>
                            <h4 class="lang lang-en"> 250 Lek</h4>
                            <h4 class="lang lang-al"> 250 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Cabbage Salad</h3>
                            <h3 class="lang lang-al">Sallatë Lakër</h3>
                            <p class="lang lang-en">Cabbage, carrots</p>
                            <p class="lang lang-al">Lakër,karotë</p>
                            <h4 class="lang lang-en"> 250 Lek</h4>
                            <h4 class="lang lang-al"> 250 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Boiled/Backed Vegetable salad</h3>
                            <h3 class="lang lang-al">Sallatë Perime Të Zjera / Pjekura</h3>
                            <p class="lang lang-en">Peppers, eggplant, zucchini, cauliflower, broccoli, red beets</p>
                            <p class="lang lang-al">Spec, patëllxhan, kungulleshka, brokoli, lulelakër, panxhar i kuq</p>
                            <h4 class="lang lang-en"> 300 Lek</h4>
                            <h4 class="lang lang-al"> 300 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Our Grain Salad </h3>
                            <h3 class="lang lang-al">Sallatë E Grurit Tonë</h3>
                            <p class="lang lang-en">Grain, red beans, onion, cucumber, peppers, walnuts</p>
                            <p class="lang lang-al">Grurë, fasule të kuqe, qepë,kastravec, speca, arra</p>
                            <h4 class="lang lang-en">250 Lek</h4>
                            <h4 class="lang lang-al">250 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Our “Mësonjëtorja” salad</h3>
                            <h3 class="lang lang-al">Sallata Tonë “Mësonjëtorja” </h3>
                            <p class="lang lang-en">Iceberg, lettuce, rucola, kiwi, apple, pear, orange, cantaloupe, balsamic vinega</p>
                            <p class="lang lang-al">Iceberg, marule, rukola, kiwi, mollë, dardhë, portokall, pjepër, uthull balsamike</p>
                            <h4 class="lang lang-en">500 Lek</h4>
                            <h4 class="lang lang-al">500 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Cesar Salad</h3>
                            <h3 class="lang lang-al">Sallatë Çezar</h3>
                            <p class="lang lang-en">Lettuce, corn, carrots, chicken, pomegranate, parmigianacheese, Cesar dressing</p>
                            <p class="lang lang-al">Marule, misër, karotë, shegë, djathë, salcë Cezar</p>
                            <h4 class="lang lang-en">400 Lek</h4>
                            <h4 class="lang lang-al">400 Lek</h4>
                        </div>

                    </div>

                </div>


                <div class="tab-pane fade" id="appetizer2" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">House Meze</h3>
                            <h3 class="lang lang-al">Meze E Shtëpise</h3>
                            <p class="lang lang-en">Bean casserole, “Fergese” with vegetables, 3 kinds of homemade dipping sauces, oven potatoes, cheese, olives, vegetables</p>
                            <p class="lang lang-al">Fasule pllaqi, fërgesë me perime, 3 salcat e shtëpisë, patate furre, djathë, ullinj, perime</p>
                            <h4 class="lang lang-en">600 Lek</h4>  <h4 class="lang lang-al">600 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Traditional Albanian Pancakes</h3>
                            <h3 class="lang lang-al">Petulla Të Fshira Speciale</h3>
                            <p class="lang lang-en">With cheese, garlic butter and zucchini pie</p>
                            <p class="lang lang-al">Petë, djathë, gjalpë, hudhër, kungulleshka</p>
                            <h4 class="lang lang-en"> 500 Lek</h4>
                            <h4 class="lang lang-al"> 500 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Traditional Albanian pancakes</h3>
                            <h3 class="lang lang-al">Petulla Të Fshira</h3>
                            <p class="lang lang-en">With cheese and garlic butter</p>
                            <p class="lang lang-al">Petë, djathë, gjalpë, hudhër</p>
                            <h4 class="lang lang-en"> 400 Lek</h4>
                            <h4 class="lang lang-al"> 400 Lek</h4>
                        </div>

                        

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Bean Casserole</h3>
                            <h3 class="lang lang-al">Fasule Pllaqi Te Furrës</h3>
                            <p class="lang lang-en">Beans, onions, tomatoes, oregano</p>
                            <p class="lang lang-al">Me salce domate te fresket, qepe, rigon, ereza</p>
                            <h4 class="lang lang-en"> 250 Lek</h4>
                            <h4 class="lang lang-al"> 250 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Homemade “Fergese"</h3>
                            <h3 class="lang lang-al">Fërgesë Shtëpie</h3>
                            <p class="lang lang-en">Eggplant, peppers, cheese</p>
                            <p class="lang lang-al">Patëllxhan, speca, djathë</p>
                            <h4 class="lang lang-en">250 Lek</h4>
                            <h4 class="lang lang-al">250 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Chicken Meze</h3>
                            <h3 class="lang lang-al">Meze Pule </h3>
                            <p class="lang lang-en">Chicken file, walnuts, mustard, honeye</p>
                            <p class="lang lang-al">Pulë, arra, mustardë, mjaltë</p>
                            <h4 class="lang lang-en">500 Lek</h4>
                            <h4 class="lang lang-al">500 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Pork “Gulash”</h3>
                            <h3 class="lang lang-al">Gulash Derri</h3>
                            <p class="lang lang-en">Pork meat, peppers, tomatoes</p>
                            <p class="lang lang-al">Mish gici, speca, domate</p>
                            <h4 class="lang lang-en">500 Lek</h4>
                            <h4 class="lang lang-al">500 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Vegetable Meatballs</h3>
                            <h3 class="lang lang-al">Qofte Me Perime</h3>
                            <p class="lang lang-en">Vegetables, cheese</p>
                            <p class="lang lang-al">Perime, djathë</p>
                            <h4 class="lang lang-en">60 Lek</h4>
                            <h4 class="lang lang-al">60 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">“Dënces” Meatballs</h3>
                            <h3 class="lang lang-al">Qoftet E Dënces</h3>
                            <p class="lang lang-en">Ground meat, spices</p>
                            <p class="lang lang-al">Mish i grirë, erëza</p>
                            <h4 class="lang lang-en">100 Lek</h4>
                            <h4 class="lang lang-al">100 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Stuffed Mushrooms</h3>
                            <h3 class="lang lang-al">Kërpudha Të Mbushura</h3>
                            <p class="lang lang-en">Mushrooms, prosciutto, cheese</p>
                            <p class="lang lang-al">Kërpudhë, proshutë, djathë</p>
                            <h4 class="lang lang-en">500 Lek</h4>
                            <h4 class="lang lang-al">500 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Oven potatoes </h3>
                            <h3 class="lang lang-al">Patate Furre </h3>
                            <p></p>
                            <h4 class="lang lang-en">200 Lek</h4>
                            <h4 class="lang lang-al">200 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Homemade French Fries</h3>
                            <h3 class="lang lang-al">Patatka Të Skuqura  Te Shtëpisë</h3>
                            <p class="lang lang-en">Fried potatoes</p>
                            <p class="lang lang-al"></p>
                            <h4 class="lang lang-en">200 Lek</h4>
                            <h4 class="lang lang-al">200 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">“Japrak”</h3>
                            <h3 class="lang lang-al">Japrak</h3>
                            <p class="lang lang-en">Grape leaves, rice, ground meat. A traditional and unique Korca dish</p>
                            <p class="lang lang-al">Gjethe rrushi, oriz, mish i grirë</p>
                            <h4 class="lang lang-en">200 Lek</h4>   <h4 class="lang lang-al">200 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Mix Organ Meats “Offal”</h3>
                            <h3 class="lang lang-al">Të Brendëshme</h3>
                            <p class="lang lang-en">Liver, spleen, heart, kidney</p>
                            <p class="lang lang-al">Mëlçi, shpretkë, zemër, veshka</p>
                            <h4 class="lang lang-en">500 Lek</h4>
                            <h4 class="lang lang-al">500 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Bruschetta</h3>
                            <h3 class="lang lang-al">Brusketa</h3>
                            <p class="lang lang-en">Bread with hummus or with tomatoes, cheese, garlic</p>
                            <p class="lang lang-al">Bukë, salcë qiqre ose bukë, domate, djathë, hudhër</p>
                            <h4 class="lang lang-en">250 Lek</h4>
                            <h4 class="lang lang-al">250 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Wine Antipasto/Appetizers</h3>
                            <h3 class="lang lang-al">Antipasta E Verës</h3>
                            <p class="lang lang-en">Cheese mix, prosciutto mix, fruits, jam</p>
                            <p class="lang lang-al">Mix djathi, mix proshute, fruta, reçel</p>
                            <h4 class="lang lang-en">500 Lek</h4>
                            <h4 class="lang lang-al">500 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Baked Cheese</h3>
                            <h3 class="lang lang-al">Djathë Furre</h3>
                            <p class="lang lang-en">Cheese, peppers, tomatoes, spicy peppers</p>
                            <p class="lang lang-al">Djathë, speca të freskët, domate, speca të thatë djegës</p>
                            <h4 class="lang lang-en">300 Lek</h4>
                            <h4 class="lang lang-al">300 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Goat Cheese </h3>
                            <h3 class="lang lang-al">Djathë Dhie </h3>
                            <p></p>
                            <h4 class="lang lang-en">300 Lek</h4>
                            <h4 class="lang lang-al">300 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Our Special Cheese</h3>
                            <h3 class="lang lang-al">Djathë Për Lezet</h3>
                            <p class="lang lang-en">Cheese,honey, walnut, mint</p>
                            <p class="lang lang-al">Djathë, arra, mjaltë, petë, mente</p>
                            <h4 class="lang lang-en">350 Lek</h4>
                            <h4  class="lang lang-al">350 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Our 3 Homemade Sauces</h3>
                            <h3 class="lang lang-al">Tre Salcat E Shtëpisë</h3>
                            <p class="lang lang-en">Spinach sauce, walnut sauce, pepper sauce</p>
                            <p class="lang lang-al">Salcë spinaqi, salcë me arra, salcë spec</p>
                            <h4 class="lang lang-en">300 Lek</h4>
                            <h4 class="lang lang-al">300 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Sheppard’s Sauce</h3>
                            <h3 class="lang lang-al">Salca E Cobanit </h3>
                            <p></p>
                            <h4 class="lang lang-en">200 Lek</h4>
                            <h4 class="lang lang-al">200 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">“Tzatziki” Sauce</h3>
                            <h3 class="lang lang-al">Salcë Tarator “Xaxiki”</h3>
                            <p class="lang lang-en">Yogurt, garlic, cucumber</p>
                            <p class="lang lang-al">Salcë kosi, hudhër, kastrave</p>
                            <h4 class="lang lang-en">200 Lek</h4>
                            <h4 class="lang lang-al">200 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3 class="lang lang-en">Spicy Cheese Sauce</h3>
                            <h3 class="lang lang-al">Salcë Djathi Pikant </h3>
                            <p></p>
                            <h4 class="lang lang-en">250 Lek</h4>
                            <h4 class="lang lang-al">250 Lek</h4>
                        </div>

                    </div>


                </div>


                <div class="tab-pane fade" id="meat2" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3  class="lang lang-en">Steamed Pork 300g Special</h3>
                            <h3  class="lang lang-al">Gic Me avull 300g Speciale</h3>
                            <p  class="lang lang-en">Pork, dried fruits, fresh herbs</p>
                            <p  class="lang lang-al">Mish gici, fruta të thata, erëza te freskëta</p>
                            <h4  class="lang lang-en"> 800 Lek</h4>
                            <h4  class="lang lang-al"> 800 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3  class="lang lang-en">Beer Drunken Pork 300g Special</h3>
                            <h3  class="lang lang-al">Derr I Dehur Me Birrë 300g Speciale</h3>
                            <p  class="lang lang-en">Pork, baby onions, fresh herbs, beer</p>
                            <p  class="lang lang-al">Mish gici, qepë te vockla, erëza te freskëta, birrë</p>
                            <h4  class="lang lang-en">800 Lek</h4>
                            <h4 class="lang lang-al">800 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3  class="lang lang-en">Pork Chops 500gr</h3>
                             <h3  class="lang lang-al">Berxollë Gici 500gr</h3>
                            <p></p>
                            <h4  class="lang lang-en">700 Lek</h4>
                            <h4  class="lang lang-al">700 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3  class="lang lang-en">Pork Kebab</h3>
                             <h3  class="lang lang-al">Shishqebap Derkuci </h3>
                            <p></p>
                            <h4  class="lang lang-en">150 Lek</h4>
                            <h4  class="lang lang-al">150 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3  class="lang lang-en">Chicken Kebab</h3>
                            <h3  class="lang lang-al">Shishqebap Pule </h3>
                            <p></p>
                            <h4  class="lang lang-en">150 Lek</h4>
                            <h4  class="lang lang-al">150 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3  class="lang lang-en">Homemade Sausage </h3>
                            <h3  class="lang lang-al">Llukanik I Shtëpisë </h3>
                            <p></p>
                            <h4  class="lang lang-en">200 Lek</h4>
                            <h4  class="lang lang-al">200 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3  class="lang lang-en">Chicken Fillet 300g</h3>
                            <h3  class="lang lang-al">Fileto Pule 300gr</h3>
                            <p></p>
                            <h4  class="lang lang-en">500 Lek</h4>
                            <h4  class="lang lang-al">500 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3  class="lang lang-en">Beef Fillet 300gr </h3>
                            <h3  class="lang lang-al">Fileto Viçi 300gr </h3>
                            <p></p>
                            <h4  class="lang lang-en">900 Lek</h4>
                            <h4  class="lang lang-al">900 Lek</h4>
                        </div>

                         <div class="main-menu22 ">
                            <img src=""/>
                            <h3  class="lang lang-en">Pork Pancetta 500gr</h3>
                            <h3  class="lang lang-al">Pancetë Gici 500gr</h3>
                            <p></p>
                            <h4  class="lang lang-en">750 Lek</h4>
                            <h4  class="lang lang-al">750 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3  class="lang lang-en">Lamb Chops 500gr</h3>
                            <h3  class="lang lang-al">Paidhaqe Shqerke 500gr </h3>
                            <p></p>
                            <h4  class="lang lang-en">1100 Lek</h4>
                            <h4 class="lang lang-al">1100 Lek</h4>
                        </div>

                    </div>

                </div>


                <div class="tab-pane fade" id="afterbread2" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Zhupkë</h3>
                            <h3 class="lang lang-al">Zhupkë</h3>
                            <p class="lang lang-en">A traditional dessert, with filo dough, walnuts, syrup</p>
                            <p class="lang lang-al">Embëlsirë tradicionale me petë, arra, shurup</p>
                            <h4 class="lang lang-en"> 200 Lek</h4>
                            <h4 class="lang lang-al"> 200 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Yogurt, honey and walnuts</h3>
                            <h3 class="lang lang-al">Kos me mjaltë dhe arra</h3>
                            <p></p>
                            <h4 class="lang lang-en">200 Lek</h4>
                            <h4 class="lang lang-al">200 Lek</h4>
                        </div>

                    </div>


                </div>

              </div>

        </div>



        <div class="tab-pane fade pt-3" id="drinks" role="tabpanel" aria-labelledby="contact-tab">

            <nav>
                <div class="nav nav-tabs justify-content-center border-none pt-3" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active bg-transparent text-light" id="nav-home-tab" data-toggle="tab" href="#hotdrinks" role="tab" aria-controls="nav-home" aria-selected="true">Hot Drinks</a>
                  <a class="nav-item nav-link  bg-transparent text-light" id="nav-profile-tab" data-toggle="tab" href="#colddrinks" role="tab" aria-controls="nav-profile" aria-selected="false">Cold Drinks</a>
                  <a class="nav-item nav-link bg-transparent text-light" id="nav-contact-tab" data-toggle="tab" href="#tea2" role="tab" aria-controls="nav-contact" aria-selected="false">Organic Loose-leaf Tea</a>
                  
                </div>
              </nav>
           
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="hotdrinks" role="tabpanel" aria-labelledby="pills-home-tab">
                    
                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Espresso</h3>
                            <p></p>
                            <h4> 90 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Double Espresso</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Decaffeinate</h3>
                            <p></p>
                            <h4>90 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Balkan Coffee</h3>
                            <h3 class="lang lang-al">Kafe Turke</h3>
                            <p></p>
                            <h4>70 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Freddo Espresso</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Café latte </h3>
                            <p></p>
                            <h4>120 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Ness Café </h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Cappuccino</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>

                     
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Freddo Cappuccino</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Cacao</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Chocolate </h3>
                            <h3 class="lang lang-al">Çokollate</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Salep</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Salep  Bio Organic</h3>
                            <p></p>
                            <h4>200 Lek</h4>
                        </div>

                    </div>
              
                </div>


                <div class="tab-pane fade" id="colddrinks" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Lemon Ice Tea </h3>
                            <h3 class="lang lang-al">Çaj I Ftohtë Limoni</h3>
                            <p></p>
                            <h4> 150 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en"> Green Ice Tea</h3>
                            <h3 class="lang lang-al">Çaj I Ftohtë Jeshil</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en"> Peach Ice Tea</h3>
                            <h3 class="lang lang-al"> Çaj I Ftohtë Pjeshke </h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Lemon Soda</h3>
                            <h3 class="lang lang-al">Soda Limon</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Orange Soda </h3>
                            <h3 class="lang lang-al">Soda Portokalli</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Coca-Cola</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Fanta Orange</h3>
                            <h3 class="lang lang-al">Fanta Portokalli</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Fanta Exotic</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Sprite</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Schweppes</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Bravo Strawberry</h3>
                            <h3 class="lang lang-al">Bravo Luleshtrydhe</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Bravo Banana & Strawberry</h3>
                            <h3 class="lang lang-al">Bravo Banane & Luleshtrydhe</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Bravo Peach</h3>
                            <h3 class="lang lang-al">Bravo Pjeshke</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Bravo Green apple </h3>
                            <h3 class="lang lang-al">Bravo Mollë Jeshile</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Bravo Red Grape</h3>
                            <h3 class="lang lang-al">Bravo Rrushi</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Bravo Multivitamin</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Bravo Orange</h3>
                            <h3 class="lang lang-al">Bravo Portokalli</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Crodino</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Rose Lemonade</h3>
                            <p></p>
                            <h4>300 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Red Bull </h3>
                            <p></p>
                            <h4>300 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Water Multivitamin</h3>
                            <p></p>
                            <h4>120 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Water Plastic Bottle 500 ml </h3>
                            <h3 class="lang lang-al">Ujë Shishe Plastike 500 ml </h3>
                            <p></p>
                            <h4>80 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Water glass bottle 750 ml</h3>
                            <h3 class="lang lang-al">Ujë Shishe Qelqi 750 ml</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en"> Water glass bottle 500 ml</h3>
                            <h3 class="lang lang-al">Ujë Shishe Qelqi 750 ml</h3>
                            <p></p>
                            <h4>120 Lek</h4>
                        </div>

                    </div>



                </div>


                <div class="tab-pane fade" id="tea2" role="tabpanel" aria-labelledby="pills-contact-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en"> Lemon Fresh</h3>
                            <h3 class="lang lang-al"> Limon Fresh</h3>
                            <p></p>
                            <h4> 150 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Red fruit</h3>
                            <h3 class="lang lang-al">Fruta të kuqe</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Plum & Cinnamon </h3>
                            <h3 class="lang lang-al">Kumbull & Kanellë</h3>
                            <p></p>
                            <h4> 150 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Refreshing Mint</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Pure Chamomile</h3>
                            <h3 class="lang lang-al">Kamomil</h3>
                            <p></p>
                            <h4> 150 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Green Tea</h3>
                            <h3 class="lang lang-al">Caj Jeshil</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Ginger Affair</h3>
                            <h3 class="lang lang-al">Xhinxher</h3>
                            <p></p>
                            <h4> 150 Lek</h4>
                        </div>

                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">Black Tea </h3>
                            <h3 class="lang lang-al">Caj I Zi</h3>
                            <p></p>
                            <h4>150 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en"> Local Mountain Tea </h3>
                            <h3 class="lang lang-al">Caj Mali</h3>
                            <p></p>
                            <h4> 90 Lek</h4>
                        </div>
                        <div class="main-menu22">
                            <img src=""/>
                            <h3 class="lang lang-en">  Sweet berries </h3>
                            <h3 class="lang lang-al">Luleshtrydhe & Manaferre</h3>
                            <p></p>
                            <h4> 150 Lek</h4>
                        </div>
                        

                    </div>


                </div>

              </div>

        </div>



        <div class="tab-pane fade pt-3" id="wine" role="tabpanel" aria-labelledby="contact-tab">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active bg-transparent text-light" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">White</a>
                  <a class="nav-item nav-link bg-transparent text-light" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Red</a>
                  <a class="nav-item nav-link bg-transparent text-light" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Rose</a>

                  

                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Nerube Pecorino d’Abruzzo</h3>
                            <p></p>
                            <h4> 3,500 Lek</h4>
                        </div>
        
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Chablis</h3>
                            <p></p>
                            <h4> 3,500 Lek</h4>
                        </div>
        
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>La Fortuna Greco di Tuf</h3>
                            <p></p>
                            <h4>3,000 Lek </h4>
                        </div>
        
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Malvasia Bianca del Salento</h3>
                            <p></p>
                            <h4> 2,500 Lek</h4>
                        </div>
        
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Trapiche Chardonnay </h3>
                            <p></p>
                            <h4>2,000 Lek</h4>
                        </div>
        
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Pinot Grigio delle Venezie</h3>
                            <p></p>
                            <h4>2,000 Lek</h4>
                        </div>
        
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>House wine 1l</h3>
                            <p></p>
                            <h4>1,000 Lek</h4>
                        </div>
                    </div>
        

                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Brunello di Montalcino </h3>
                            <p></p>
                            <h4>10,000 Lek</h4>
                        </div>
        
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Barolo</h3>
                            <p></p>
                            <h4> 9,000 Lek</h4>
                        </div>
        
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Amarone</h3>
                            <p></p>
                            <h4> 7,000 Lek </h4>
                        </div>
        
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Primitivo di Manduria</h3>
                            <p></p>
                            <h4>6,500 Lek </h4>
                        </div>
        
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Papale Primitivo di Manduria</h3>
                            <p></p>
                            <h4>5,500 Lek</h4>
                        </div>
        
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Montes Alpha Merlo</h3>
                            <p></p>
                            <h4>5,000 Lek</h4>
                        </div>
        
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Gocce Primitivo di Manduria</h3>
                            <p></p>
                            <h4>5,000 Lek</h4>
                        </div>
        
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Primitivo Di Manduria</h3>
                            <p></p>
                            <h4>3,500 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Trapiche Impure Malbec</h3>
                            <p></p>
                            <h4>2,500 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Antorino Primitivo</h3>
                            <p></p>
                            <h4>2,200 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Mavrud Max Wine (local)</h3>
                            <p></p>
                            <h4>2,000 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Pirovano Primitivo</h3>
                            <p></p>
                            <h4>2,000 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Pirovano Montepulciano d’Abruzzo</h3>
                            <p></p>
                            <h4>2,000 Lek</h4>
                        </div>
                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Trapiche Cabernet Sauvignon</h3>
                            <p></p>
                            <h4> 2,000 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Trinacria Nero d’Avola </h3>
                            <p></p>
                            <h4> 1,500 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>Arenile Montepulciano d’Abruzzo</h3>
                            <p></p>
                            <h4> 1,500 Lek</h4>
                        </div>

                        <div class="main-menu22 ">
                            <img src=""/>
                            <h3>House wine 1l</h3>
                            <p></p>
                            <h4> 1,000 Lek</h4>
                        </div>

        
                    </div>
        

                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <div class="main-menu2">

                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Rubine  </h3>
                            <p></p>
                            <h4> 3,500 Lek</h4>
                        </div>
        
                        <div class="main-menu22">
                            <img src=""/>
                            <h3>Max Wine</h3>
                            <p></p>
                            <h4>  2,000 Lek</h4>
                        </div>

                </div>


                

                </div>
                </div>
                </div>
                </div>
                

      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
</body>
</html>