<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/about.css"/>
    <link rel="stylesheet" href="/css/menu.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/photos/logo-mes.png"/>

</head>
<body>

    
    <%- include('header') -%>

    <div class="about">
        <div class="home-column">
            <h5 id="color" class="lang lang-en">Delicious & Amazing</h5>
            <h5 id="color" class="lang lang-al">
                E Shijshme & E Mahnitshme</h5>
            <img src="/photos/separator 1.png" width="90"/>
            <h1 class="lang lang-en">Our Menu</h1>
            <h1 class="lang lang-al">Menuja Jone</h1>
        </div>
    </div>


    <!--Menu2-->
    <div class="container-fluid" style="background-color: #130A00;">
        <div class="row pt-5 pb-3">
            <div class="col text-center align-items-center justify-content-center d-flex flex-column">
                <h4 id="color" class="pb-2 lang lang-en">Special Menu</h4>
                <h4 id="color" class="pb-2 lang lang-al">Menu Speciale</h4>
                <img src="/photos/separator 1.png" width="90" class="pb-2"/>
                <h1 class="pb-2 lang lang-en text-light text-center" id="ab">Best Special Menu</h1>
                <h1 class="pb-2 lang lang-al text-light text-center" id="ab">Menuja Më E Mirë Speciale</h1>
            </div>
        </div>

    </div>
        
    <%- include('main-menu') -%>


    <div class="container-fluid pt-5 pb-5" style="background-color: #130A00;">

        <div class="row justify-content-center ">

            <div class="col-12 col-md-10 col-lg-4  d-flex justify-content-center align-items-center" style="background-color: #201100;" id="padde">

                <div class="ef-max">

                    <div class="ef1">
                        <img src="/photos/bb (2).png"/>
                    </div>

                    <div class="ef11-max">

                        <div class="ef11">
                            <h5 id="color" class="lang lang-en">House Meze </h5>
                            <h5 id="color" class="lang lang-al">House Meze </h5>
                            <img src="/photos/separator 1.png"/>
                        </div>

                        <div class="ef11p">
                            <p class="lang lang-en text-light" >Bean casserole, “Fergese” with vegetables, 3 kinds of homemade dipping sauces, oven potatoes, cheese, olives, vegetables</p>
                            <p class="lang lang-al text-light" >Tavë fasule, “Fergese” me perime, 3 lloje salcash zhytjeje të bëra vetë, patate furre, djathë, ullinj, perime</p>
                        </div>

                        <div class="ef11c">
                            <h4 id="color">600 Lek</h4>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-12 col-md-10 col-lg-4" id="op">
               
            </div>
            <img src="/photos/g26.png" class="img-fluid" id="opp"/>

        </div>

    </div>
                           


    

<!--Section-->
<div class="section">
    <div class="home-column1">
        <h5 id="color"class="lang lang-en">Special Menu</h5>
        <h5 id="color" class="lang lang-al">Menu Speciale</h5>
        <h1 class="lang lang-en">VEGETARIAN MENU</h1><h1 class="lang lang-al">MENU VEGJETARIANE</h1>
        <img src="/photos/separator 1.png" width="90"/>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="
          nav-link bg-transparent 
          " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color:white;">BREAKFAST</a>
         
        
          
        </li>
        <li class="nav-item">
          <a class="nav-link bg-transparent" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color:white;">LUNCH & DINNER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-transparent" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="color:white;">DESSERTS</a>
        </li>
        
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="flex-menu">
                <div class="flex-menu1">

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Toast</h4>
                                <h4 class="lang lang-al">Tost</h4>
                                <h5 class="lang lang-en">100 Lek</h5>
                                <h5 class="lang lang-al">100 Lek</h5>
                                
                            </div>

                            <div class="flex-p">
                                <p class="lang lang-en">Bread, mayonnaise, double portion guda cheese</p>
                                <p class="lang lang-al">Bukë, majonezë, djathë gouda me porcione të dyfishta</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Special Toast</h4>
                                <h4 class="lang lang-al">Tost Special</h4>
                                <h5 class="lang lang-en">150 Lek</h5>
                                <h5 class="lang lang-al">150 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p class="lang lang-en">Double portion kaçkavall cheese, bread, mayonnaise</p>
                                <p class="lang lang-al">Djathë kaçkavall me porcion të dyfishtë, bukë, majonezë</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Brioche</h4>
                                <h4 class="lang lang-al">Brioche</h4>
                                <h5 class="lang lang-en">100 Lek</h5>
                                <h5 class="lang lang-al">100 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p></p>
                            </div>
                        </div>

                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Glass Of Milk</h4>
                                <h4 class="lang lang-al">Gote Me Qumesht</h4>
                                <h5 class="lang lang-en">100 Lek</h5>
                                <h5 class="lang lang-al">100 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p></p>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="flex-menu1">
                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Homemade</h4>
                                <h4 class="lang lang-al">Homemade</h4>
                                <h5 class="lang lang-en">250 Lek</h5>
                                <h5 class="lang lang-al">250 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p class="lang lang-en">Donuts with honey, jam, cheese</p>
                                <p class="lang lang-al">Donuts me mjaltë, reçel, djathë</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Omelet</h4>
                                <h4 class="lang lang-al">Omelet</h4>
                                <h5 class="lang lang-en">200 Lek</h5>
                                <h5 class="lang lang-al">200 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p class="lang lang-en">Eggs, served with cucumbers, tomatoes and cheese</p>
                                <p class="lang lang-al">Vezë, të servirura me kastraveca, domate dhe djathë</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Special Omelet</h4>
                                <h4 class="lang lang-al">Omelet Speciale</h4>
                                <h5 class="lang lang-en">300 Lek</h5>
                                <h5 class="lang lang-al">300 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p class="lang lang-en">Eggs, spinach, onions, zucchini, peppers, cheese, served with cucumbers and tomatoes</p>
                                <p class="lang lang-al">Vezë, spinaq, qepë, kungull i njomë, speca, djathë, të servirura me kastraveca dhe domate</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Club Sandwich</h4>
                                <h4 class="lang lang-al">Club Sandwich</h4>
                                <h5 class="lang lang-en">300 Lek</h5>
                                <h5 class="lang lang-al">300 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p class="lang lang-en">Mayonnaise, double portion guda cheese, lettuce, tomatoes, served with our homemade French fries</p>
                                <p class="lang lang-al">Majonezë, djathë gouda me dy porcione, marule, domate, të servirura me patate të skuqura shtëpiake</p>
                            </div>
                        </div>
                    </div>

                </div>

                
            </div>


            <div class="flex-menu mt-5" id="show">
                <div class="flex-menu1">

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="flex-menu1">
                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                </div>

                
            </div>

            

            

        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link bg-transparent text-light active" id="nav-home-tab" data-toggle="tab" href="#soupsveg" role="tab" aria-controls="nav-home" aria-selected="true">SOUPS</a>
                  <a class="nav-item bg-transparent text-light nav-link" id="nav-profile-tab" data-toggle="tab" href="#saladsveg" role="tab" aria-controls="nav-profile" aria-selected="false">SALADS</a>
                  <a class="nav-item bg-transparent text-light nav-link" id="nav-contact-tab" data-toggle="tab" href="#mezeveg" role="tab" aria-controls="nav-contact" aria-selected="false">MEZE/APPETIZERS</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="soupsveg" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div class="flex-menuu mt-4">
                        <div class="flex-menu1">
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Vegetable Soup</h4>
                                        <h4 class="lang lang-al">Supe Vegjetariane</h4>
                                        <h5 class="lang lang-en">200 Lek</h5>
                                        <h5 class="lang lang-al">200 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Seasonal vegetables</p>
                                        <p class="lang lang-al">Perimet e stinës</p>
                                    </div>
                                </div>
                            </div>

                        </div>
    
                    </div>

                </div>

                <div class="tab-pane fade" id="saladsveg" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="flex-menuu mt-4">
                        <div class="flex-menu1">
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Village Salad </h4>
                                        <h4 class="lang lang-al">Sallatë Fshati</h4>
                                        <h5 class="lang lang-en">300 Lek</h5>
                                        <h5 class="lang lang-al">300 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Tomatoes, cucumbers, peppers, onion, olives, cheese</p>
                                        <p class="lang lang-al">Domate, tranguj, speca, qepë, ullinj, djathë</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Spinach Salad</h4>
                                        <h4 class="lang lang-al">Sallatë Me Spinaq</h4>
                                        <h5 class="lang lang-al">300 Lek</h5>
                                        <h5 class="lang lang-en">300 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Spinach, tomatoes, cheese</p>
                                        <p class="lang lang-al">Spinaq, domate, djathë</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Green Salad</h4>
                                        <h4 class="lang lang-al">Sallate jeshile</h4>
                                        <h5 class="lang lang-en">250 Lek</h5>
                                        <h5 class="lang lang-al">250 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Lettuce, cucumbers, onion, olives</p>
                                        <p class="lang lang-al">Marule, kastraveca, qepë, ullinj</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Our “Mësonjëtorja” Salad </h4>
                                        <h4 class="lang lang-al">Sallata jonë “Mësonjëtorja” </h4>
                                        <h5 class="lang lang-en">500 Lek</h5>
                                        <h5 class="lang lang-al">500 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Iceberg, lettuce, rucola, kiwi, apple, pear, orange, cantaloupe, balsamic vinegar</p>
                                        <p class="lang lang-al">Ajsberg, marule, rukola, kivi, mollë, dardhë, portokall, pjepër, uthull balsamike</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
    
                        <div class="flex-menu1">
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Cabbage Salad</h4>
                                        <h4 class="lang lang-al">Sallatë Me Lakër</h4>
                                        <h5 class="lang lang-en">250 Lek</h5>
                                        <h5 class="lang lang-al">250 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Cabbage, carrots</p>
                                        <p class="lang lang-al">Lakra, karota</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 id="ma1" class="lang lang-en">Boiled/Backed Vegetable Salad</h4>
                                        <h4 id="ma1" class="lang lang-al">Sallatë Me Perime Të Ziera</h4>
                                        <h5 class="lang lang-en">300 Lek</h5>
                                        <h5 class="lang lang-al">300 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Peppers, eggplant, zucchini, cauliflower, broccoli, red beets</p>
                                        <p class="lang lang-al">Specat, patëllxhani, kungull i njomë, lulelakra, brokoli, panxhari i kuq</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Our Grain Salad</h4>
                                        <h4 class="lang lang-al">Sallata Jonë Me Drithëra</h4>
                                        <h5 class="lang lang-en">250 Lek</h5>
                                        <h5 class="lang lang-al">250 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Grain, red beans, onion, cucumber, peppers, walnuts</p>
                                        <p class="lang lang-al">Kokërr, fasule të kuqe, qepë, kastravec, speca, arra</p>
                                    </div>
                                </div>
                            </div>
    
                            
    
                        </div>
    
                    </div>

                </div>

                <div class="tab-pane fade" id="mezeveg" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <div class="flex-menuu mt-4">
                        <div class="flex-menu1">
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">House Meze</h4>
                                        <h4 class="lang lang-al">Meze E Shtepise</h4>
                                        <h5 class="lang lang-en">600 Lek</h5>
                                        <h5 class="lang lang-al">600 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Bean casserole, “Fergese” with vegetables, 3 types of homemade sauce, oven potatoes, cheese, olives, vegetables</p>
                                        <p class="lang lang-al">Tavë fasule, “Fergese” me perime, 3 lloje salce shtëpie, patate furre, djathë, ullinj, perime</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">“Tzatziki” Sauce </h4>
                                        <h4 class="lang lang-al">Salca “Tzatziki”</h4>
                                        <h5 class="lang lang-en">200 Lek</h5>
                                        <h5 class="lang lang-al">200 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Yogurt, garlic, cucumbe</p>
                                        <p class="lang lang-al">Kos, hudhra, kastravec</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Spicy Cheese Sauce</h4>
                                        <h4 class="lang lang-al">Salcë djathi pikante</h4>
                                        <h5 class="lang lang-en">250 Lek</h5>
                                        <h5 class="lang lang-al">250 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Traditional Albanian Pancakes</h4>
                                        <h4 class="lang lang-al">Petulla Tradicionale Shqiptare</h4>
                                        <h5 class="lang lang-en">500 Lek</h5>
                                        <h5 class="lang lang-al">500 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">With cheese, garlic butter and zucchini pie</p>
                                        <p class="lang lang-al">Me djathë, gjalpë hudhër dhe byrek me kunguj të njomë</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Bean Casserole</h4>
                                        <h4 class="lang lang-al">Tavë fasule</h4>
                                        <h5 class="lang lang-en">250 Lek</h5>
                                        <h5 class="lang lang-al" >250 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Bean, onions, tomatoes, oregano</p>
                                        <p class="lang lang-al">Fasule, qepë, domate, rigon</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Homemade “Fergese”</h4>
                                        <h4 class="lang lang-al">“Fergese” e bërë në shtëpi</h4>
                                        <h5 class="lang lang-en">250 Lek</h5>
                                        <h5 class="lang lang-al">250 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Eggplant, peppers, cheese</p>
                                        <p class="lang lang-al">Patëllxhan, speca, djathë</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Oven Potatoes</h4>
                                        <h4 class="lang lang-al">Patate Furre</h4>
                                        <h5 class="lang lang-en">200 Lek</h5>
                                        <h5 class="lang lang-al">200 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Homemade French Fries</h4>
                                        <h4 class="lang lang-al">Patate Të Skuqura Shtëpiake</h4>
                                        <h5 class="lang lang-en">200 Lek</h5>
                                        <h5 class="lang lang-al">200 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Fried potatoes</p>
                                        <p class="lang lang-al">Patate te skuqura</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
    
                        <div class="flex-menu1">
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Baked Peppers</h4>
                                        <h4 class="lang lang-al">Specat Te Pjekur</h4>
                                        <h5 class="lang lang-en">250 Lek</h5>
                                        <h5 class="lang lang-al">250 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Bruschetta</h4>
                                        <h4 class="lang lang-al">Bruschetta</h4>
                                        <h5 class="lang lang-en">250 Lek</h5>
                                        <h5 class="lang lang-al">250 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Bread with hummus or with tomatoes, cheese, garlic</p>
                                        <p class="lang lang-al">Bukë me humus ose me domate, djathë, hudhër</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 id="ma1" class="lang lang-en">Wine Antipasto/Appetizers </h4>
                                        <h4 id="ma1" class="lang lang-al">Verë Antipastë/Meze </h4>
                                        <h5 class="lang lang-en">500 Lek</h5>
                                        <h5 class="lang lang-al">500 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Cheese mix, fruits, jam</p>
                                        <p class="lang lang-al">Përzierje djathi, fruta, reçel</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Baked Cheese</h4>
                                        <h4 class="lang lang-al">Djathë i pjekur</h4>
                                        <h5 class="lang lang-en">300 Lek</h5>
                                        <h5 class="lang lang-al">300 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Cheese, peppers, tomatoes, spicy peppers</p>
                                        <p class="lang lang-al">Djathë, speca, domate, speca pikantë</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Goat Cheese </h4>
                                        <h4 class="lang lang-al">Djathe dhie</h4>
                                        <h5 class="lang lang-en">300 Lek</h5>
                                        <h5 class="lang lang-al">300 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Our Special Cheese</h4>
                                        <h4 class="lang lang-al">Djathi Ynë I Veçantë</h4>
                                        <h5 class="lang lang-en">350 Lek</h5>
                                        <h5 class="lang lang-al">350 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Cheese,honey, walnut, mint</p>
                                        <p class="lang lang-al">Djathë, mjaltë, arra, nenexhik</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 id="ma1" class="lang lang-en">Our 3 homemade sauces</h4>
                                        <h4 id="ma1" class="lang lang-al">3 salcat tona të bëra vetë</h4>
                                        <h5 class="lang lang-en">300 Lek</h5>
                                        <h5 class="lang lang-al">300 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p class="lang lang-en">Spinach sauce, walnut sauce, pepper sauce</p>
                                        <p class="lang lang-al">Salcë me spinaq, salcë arra, salcë piper</p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex1">
                                <div class="flex-img">
                                    <img src="/photos/menu1.png" class="img-fluid"/>
                                </div>
    
                                <div class="flex-text">
                                    <div class="flex-text1">
                                        <h4 class="lang lang-en">Sheppard’s Sauce</h4>
                                        <h4 class="lang lang-al">Salca Sheppard</h4>
                                        <h5 class="lang lang-en">200 Lek</h5>
                                        <h5 class="lang lang-al">200 Lek</h5>
                                    </div>
    
                                    <div class="flex-p">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
    
                            
    
                        </div>
    
                    </div>

                </div>

              </div>

        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            <div class="flex-menuu">
                <div class="flex-menu1">

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Zhupkë</h4>
                                <h4 class="lang lang-al">Zhupkë</h4>
                                <h5 class="lang lang-en">200 Lek</h5>
                                <h5 class="lang lang-al">200 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p class="lang lang-en">A traditional dessert, with filo dough, walnuts, syrup</p>
                                <p class="lang lang-al">Një ëmbëlsirë tradicionale, me brumë filo, arra, shurup</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4 class="lang lang-en">Yogurt, Honey And Walnuts</h4>
                                <h4 class="lang lang-al">Kos, Mjaltë Dhe Arra</h4>
                                <h5 class="lang lang-en">200 Lek</h5>
                                <h5 class="lang lang-al">200 Lek</h5>
                            </div>

                            <div class="flex-p">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    

                </div>


                


            </div>

        </div>


        <div class="tab-pane fade" id="wines" role="tabpanel" aria-labelledby="contact-tab">

            <div class="flex-menu">
                <div class="flex-menu1">

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="flex-menu1">
                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4>Greek Salad</h4>
                                <h5>$25.50</h5>
                            </div>

                            <div class="flex-p">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores deserunt iure assumenda</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex1">
                        <div class="flex-img">
                            <img src="/photos/menu1.png" class="img-fluid"/>
                        </div>

                        <div class="flex-text">
                            <div class="flex-text1">
                                <h4></h4>
                                <h5></h5>
                            </div>

                            <div class="flex-p">
                                <p></p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

      </div>


</div>





    
     <!--Video-product-->
    
     <video controls autoplay>
        <source src="/photos/video1.MOV" type="video/mp4">
        <source src="/photos/video1.MOV" type="video/ogg">
    </video>

    <a href="https:/wa.me/0683837127"  target="_blank" class="whatsapp_float"><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>

    <i class="fa-brands fa-whatsapp"></i>

    <!--Footer-->
    <%- include('footer') -%>

    <script src="/js/splide.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


    
</body>
</html>